@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    background-color: rgba(9, 23, 49, 0.692);
    border-radius: 0 0 20px 10px;
    box-shadow: 3px 3px 10px rgba(9, 23, 49, 0.692);
}

a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Ramabhadra', sans-serif;
    padding-left: 15px;
    padding-right: 25px;
    transition: .35s;
}

a:hover{
    color: rgba(14, 21, 34, 0.642);
    transition: .35s;
}

img{
    padding: 15px;
    width: 200px;
    border-radius: 20px;
    height: 200px;
}

#ativo{
    color: rgba(12, 20, 36, 0.973);
}

/*Main*/

form{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 250px;
    height: 20px;
    padding: 1px;
    border-radius: 4px;
    border: 0;
    border-bottom: solid 1px lightgray;
    margin: 10px;
}

label{
    margin-top: 15px;
    font-size: 20px
}

#button-submit{
    height: 30px;
    background-color: rgb(9, 23, 49);
    color: white;
    font-weight: bolder;
    box-shadow: 2px 2px 7px rgba(9, 23, 49, 0.692);
    border: 0;
}

/*Infos*/

.infos{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#iop1{
    width: 15px;
    height: 15px;
}

#iop2{
    margin-left: 51px;
    width: 15px;
    height: 15px;
}

#iop3{
    margin-left: 35px;
    width: 15px;
    height: 15px;
}

#frase{
    color: rgba(14, 140, 14, 0.744);
    font-size: 18px;
}

#frase2{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(14, 140, 14, 0.744);
    font-size: 18px;
}

select{
    width: 70px;
    margin-bottom: 25px;
    text-align: center;
    justify-content: center;
}

/*Footer*/

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 50px;
}

footer img{
    width: 200px;
}